﻿@model TravelX.ViewModel.HotelAgentEditViewModel

@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Manage Rooms <small>Edit Room</small>
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Agent/Hotel Room For Booking(Edit)
            </div>
            @using (Html.BeginForm("Edit", "Room", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.HotelAgentRoomId, new { @type = "hidden" })
                @Html.TextBoxFor(m => m.CreatedDate, new { @type = "hidden" })

                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-6">
                            @*<div class="form-group">
                                    <label>Hotel</label>
                                    <input type="number" class="form-control" id="firstname" name="firstname" value="" required="">
                                </div>*@
                            <div class="form-group">
                                <label for="sel1">Hotel Name:</label>
                                @Html.DropDownListFor(m => m.HotelId, new SelectList(Model.HotelDropDownViewModel, "HotelId", "HotelName"), "-- Select a Hotel --", new { @class = "form-control" })
                                @*<select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>*@
                            </div>
                            <div class="form-group">
                                <label for="sel1">Room Type:</label>
                                @*<select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>*@
                                @Html.DropDownListFor(m => m.RoomId, new SelectList(Model.RoomTypeDropDownViewModel, "RoomId", "RoomType"), "-- Select a Hotel --", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="sel1">Agent:</label>
                                @*<select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>*@
                                @Html.DropDownListFor(m => m.AgentId, new SelectList(Model.AgentDropDownViewModel, "AgentId", "AgentName"), "-- Select a Agent --", new { @class = "form-control" })


                            </div>
                            <div class="form-group">
                                <label>Number of Rooms</label>
                                @*<input type="number" class="form-control" id="firstname" name="firstname" value="" required="">*@
                                @Html.TextBoxFor(m => m.NoOfRooms, new { @class = "form-control", placeholder = "Enter Number of Rooms", @type = "number" })
                            </div>
                            <div class="form-group">
                                <label for="sel1">Price Unit:</label>
                                @Html.DropDownListFor(m => m.PriceUnitId, new SelectList(Model.PriceUnitDropDownViewModel, "PriceUnitId", "PriceUnitName"), "-- Select a Room Type --", new { @class = "form-control" })
                                @*<select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>*@
                            </div>
                            <div class="form-group">
                                <label>Agent Price</label>
                                @Html.TextBoxFor(m => m.AgentPrice, new { @class = "form-control", placeholder = "Enter Agent Price", @type = "number" })
                                @*<input type="number" class="form-control" id="firstname" name="firstname" value="" required="">*@
                            </div>
                            <div class="form-group">
                                <label>Customer Price</label>
                                @Html.TextBoxFor(m => m.CoustomerPrice, new { @class = "form-control", placeholder = "Enter Customer Price", @type = "number" })
                                @*<input type="number" class="form-control" id="firstname" name="firstname" value="" required="">*@
                            </div>
                            @*<div class="form-group">
                                <label>Weekend Customer Price</label>
                                @Html.TextBoxFor(m => m.WeekendCoustomerPrice, new { @class = "form-control", placeholder = "Enter Address", @type = "number" })                                
                            </div>
                            <div class="form-group">
                                <label>Weekend Agent Price</label>
                                @Html.TextBoxFor(m => m.WeekendPagentPrice, new { @class = "form-control", placeholder = "Enter Address", @type = "number" })                                
                            </div>*@
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Effective From</label>
                                @Html.EditorFor(model => model.EffectiveFrom, new { htmlAttributes = new { @class = "form-control", placeholder = "Effective FromDate", @readonly = "true" } })
                                @*<input class="datepicker" type="text" class="form-control" id="effective_from" name="lastname" value="" required="">*@
                            </div>
                            <div class="form-group">
                                <label>Effective To</label>
                                @Html.EditorFor(model => model.EffectiveTo, new { htmlAttributes = new { @class = "form-control", placeholder = "Effective ToDate", @readonly = "true" } })

                                @*<input class="datepicker" type="text" class="form-control" id="effective_to" name="lastname" value="" required="">*@
                            </div>                            
                            <div class="form-group">
                                <label for="sel1">Is Weekend Price</label>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.IsWeekendPrice, new { @onchange = "checkBoXClick()", @class = "weekend_check", @checked = false })
                                        @*<input type="checkbox" value="" unchecked>*@
                                    </label>
                                </div>
                            </div>
                            <style>
                                .weekend_block {
                                    display: none;
                                }
                            </style>
                            <script>
                                function checkBoXClick() {
                                    if ($('input[name="IsWeekendPrice"]').is(':checked')) {
                                        $('.weekend_block').css({ display: "block" });
                                    }
                                    else
                                    $('.weekend_block').css({ display: "none" });
                                }
                            </script>
                            <div class="weekend_block">
                                <div class="form-group">
                                    <label>Weekend Customer Price</label>
                                    @Html.TextBoxFor(m => m.WeekendCoustomerPrice, new { @class = "form-control", placeholder = "Enter Customer Weekend Price", @type = "number" })
                                    @*<input type="number" class="form-control" id="firstname" name="firstname" value="" required="">*@
                                </div>
                                <div class="form-group">
                                    <label>Weekend Agent Price</label>
                                    @Html.TextBoxFor(m => m.WeekendPagentPrice, new { @class = "form-control", placeholder = "Enter Agent Weekend Price", @type = "number" })
                                    @*<input type="number" class="form-control" id="firstname" name="firstname" value="" required="">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sel1">Verified</label>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.IsVerified, new { @checked = false })
                                        @*<input type="checkbox" value="" checked>*@
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sel1">Active</label>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.IsActive, new { @checked = false })
                                        @*<input type="checkbox" value="" checked>*@
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 pull-right text-right">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                </div>
            }
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/AdminCssJs/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="/AdminCssJs/js/jquery.dataTables.js"></script>
<script src="/AdminCssJs/js/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>
<!-- DATE PICKER SCRIPTS -->
<script src="/AdminCssJs/js/bootstrap-datepicker.js"></script>
<script>
    var site_url = 'http://travelx.pk/';
    $('.datepicker').datepicker({ format: 'yyyy-mm-dd', autoclose: true });
</script>
<!-- Custom Js -->
<script src="/AdminCssJs/js/custom-scripts.js"></script>

<script>
    $(document)
        .on('click',
            '.browse',
            function() {
                var file = $(this).parent().parent().parent().find('.file');
                file.trigger('click');
            });
    $(document)
        .on('change',
            '.file',
            function() {
                $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
            });
</script>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

     $(document).ready(function () {
         $('input[type=datetime]').datepicker({
             dateFormat: "dd/M/yy",
             changeMonth: true,
             changeYear: true,
             yearRange: "-60:+0"
         });
     });
    </script>

}