﻿@model TravelXWeb.ViewModel.UserUpdateViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Manage Users <small>Edit User</small>
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit User
            </div>
            @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { role = "form" }))
            {
                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Password)
                    @Html.HiddenFor(model=>model.SecurityStamp)
                    @Html.HiddenFor(model=>model.LockoutEnabled)
                    @Html.HiddenFor(model=>model.CreatedBy)
                    @Html.HiddenFor(model=>model.CreatedDate)
                    @Html.HiddenFor(model=>model.UpdateDate)
                    @Html.HiddenFor(model=>model.IsActive)
                    @Html.HiddenFor(model=>model.IsDelete)
                    <section id="createForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    @*<input class="form-control" id="firstname" name="firstname" value="" required="">*@
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter First Name", @id = "firstname" })
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    @*<input class="form-control" id="lastname" name="lastname" value="" required="">*@
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter Last Name", @id = "lastname" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Username</label>
                                    @*<input class="form-control" id="username" name="username" value="" required="">*@
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter username", @id = "username" })
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    @*<input class="form-control" id="email" name="email" type="email" value="" required="">*@
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email Address", @id = "email" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Phone</label>
                                    @*<input class="form-control" id="phone" name="phone" value="" required="">*@
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Enter Phone# with country code", @id = "phone" })
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    @*<input class="form-control" id="address" name="address" value="" required="">*@
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Address", @id = "address" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Role</label>
                                    @*<select class="form-control" id="roles" name="roles[]" multiple="" required="">
                                            <option value="">Select Role</option>
                                            <option value="1">admin</option>
                                            <option value="4">hotel_agent</option>
                                            <option value="5">booking_agent</option>
                                        </select>*@
                                    @Html.DropDownListFor(m => m.RoleId, new SelectList(Model.systemRole, "Id", "Name"), "-- Select a Role --", new { @class = "form-control", @id = "roles" })
                                </div>
                            </div>

                            @*<div class="col-lg-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password", @id = "password" })
                                </div>
                            </div>*@
                        </div>

                        <div class="row">
                            <div class="col-lg-6 pull-right text-right">
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                    </section>
                </div>
            }
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/AdminCssJs/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="/AdminCssJs/js/jquery.dataTables.js"></script>
<script src="/AdminCssJs/js/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>
<!-- DATE PICKER SCRIPTS -->
<script src="/AdminCssJs/js/bootstrap-datepicker.js"></script>
<script>
    var site_url = 'http://travelx.pk/';
    $('.datepicker').datepicker({ format: 'yyyy-mm-dd', autoclose: true });
</script>
<!-- Custom Js -->
<script src="/AdminCssJs/js/custom-scripts.js"></script>
