﻿@model TravelXWeb.ViewModel.UserLoginViewModel

<html>
<head>
    <title>Login</title>
    <!-- Bootstrap Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/AdminCssJs/css/login-page.css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    @using (Html.BeginForm("Login", "User", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-signin", autocomplete = "off",role = "form"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @*<form class="form-signin" method="post">*@
        <h2 class="form-signin-heading">Please Login</h2>
        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control",autocomplete="off", @placeholder = "Enter UserName"})
                @*<input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus=""/>*@
        <br/>
        @Html.PasswordFor(m => m.Password, new {@class = "form-control",autocomplete="off", @placeholder = "Enter Password"})
                @*<input type="password" class="form-control" name="password" placeholder="Password" required=""/>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                @*</form>*@
    }
</div>
</body>
</html>

<script >
    $(document)
        .ready(function() {
            $(document).ready(function() { $("input").attr("autocomplete", "off") });
        });
</script>
