﻿@using System.Web.Services.Protocols
@model TravelXWeb.ViewModel.UserSetting
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Create";
}


<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Manage Profile <small>Profile Setting</small>
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Profile Setting
            </div>
            <div class="panel-body">


                <div class="row">
                    @using (Html.BeginForm("UserSettingEmail", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Old Email Address</label>
                                @*<input class="form-control" id="username" name="username" value="" required="">*@
                                @Html.TextBoxFor(m => m.OldEmail, new { @class = "form-control" })


                            </div>
                            <div class="form-group">
                                <label>New Email Address</label>
                                @*<input class="form-control" id="username" name="username" value="" required="">*@
                                @Html.TextBoxFor(m => m.NewEmail, new { @class = "form-control" })


                            </div>
                            <div class="form-group">
                                <label>Confirmed Email Address</label>
                                @*<input class="form-control" id="username" name="username" value="" required="">*@
                                @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control" })


                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" onclick="mailUpdate()">Update Email Address</button>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("UserSettingPassword", "User", FormMethod.Post))
                    {
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Old Password</label>
                                @*<input class="form-control" id="password" name="email" type="password" value="" required="">*@
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                @*<input class="form-control" id="password" name="email" type="password" value="" required="">*@
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Confirmed Password</label>
                                @*<input class="form-control" id="password" name="email" type="password" value="" required="">*@
                                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" onclick="passwordUpdate()">Update Password</button>
                            </div>
                        </div>
                    }
                </div>


                <!-- <div class="row">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div> -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function mailUpdate() {

        var newEmail = $('#NewEmail').val();
        var confirmEmail = $('#ConfirmEmail').val();
        var oldEmail = $('#OldEmail').val();
        if (newPassword === confirmNewPassword) {
            $.ajax({
                url: '/User/UserSettingEmail',
                type: 'POST',
                datatype: 'JSON',
                async: false,
                data: { newEmail: newEmail, confirmEmail: confirmEmail, oldEmail: oldEmail },
                success: function (response) {
                    if (response === true) {
                        alert('Email Successfully Updated');
                        $('#confirmEmail').val('');
                        $('#OldEmail').val('');
                        $('#newEmail').val('');
                       
                    }
                    else if (response === false) {
                        alert('OldEmail is not correct');
                    }
                },
                error: function (response) { }
            });
        } else {
            alert('NewEmail and Confirmed Email are not same');
            $('#confirmEmail').val('');
            $('#newEmail').val('');
        }
    }

    function passwordUpdate() {
        var newPassword = $('#NewPassword').val();
        var confirmNewPassword = $('#ConfirmNewPassword').val();
        var oldPassword = $('#OldPassword').val();
        if (newPassword === confirmNewPassword) {
            $.ajax({
                url: '/User/UserSettingPassword',
                type: 'POST',
                datatype: 'JSON',
                async: false,
                data: { newPassword: newPassword, confirmNewPassword: confirmNewPassword, oldPassword: oldPassword },
                success: function (response) {
                    if (response === true) {
                        alert('Password updated successfully');
                        $('#confirmNewPassword').val('');
                        $('#newPassword').val('');
                        $('#oldPassword').val('');
                    }
                    else if (response === false) {
                        alert('OldPassword is not correct');
                    }
                },
                error: function (response) { }
            });
        } else {            
            alert('NewPassword and Confirmed Password are not same');
            $('#confirmNewPassword').val('');
            $('#newPassword').val('');
        }
    }
</script>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/AdminCssJs/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="/AdminCssJs/js/jquery.dataTables.js"></script>
<script src="/AdminCssJs/js/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>
<!-- DATE PICKER SCRIPTS -->
<script src="/AdminCssJs/js/bootstrap-datepicker.js"></script>
<script>
    var site_url = 'http://travelx.pk/';
    $('.datepicker').datepicker({ format: 'yyyy-mm-dd', autoclose: true });
</script>
<!-- Custom Js -->
<script src="/AdminCssJs/js/custom-scripts.js"></script>