﻿@model TravelXWeb.ViewModel.HotelCreateViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Manage Hotel <small>Add Hotel</small>
        </h1>
    </div>
</div>
<style>
    .fileEdit {
    opacity: 0;
    position: relative;
    right: -115px;
    height: 41px;
    z-index: 10;
    top: 43px;
    display: unset !important;
</style>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Hotel
            </div>
            @using (Html.BeginForm("Create", "Hotel", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" } ))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.TextBoxFor(m => m.Latitude, new { @type = "hidden" })
                @Html.TextBoxFor(m => m.Longitude, new { @type = "hidden" })


                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Name</label>
                                @*<input class="form-control" id="firstname" name="firstname" value="" required="">*@
                                @Html.TextBoxFor(m => m.HotelName, new { @class = "form-control", placeholder = "Enter Hotel Name",tabindex=1 })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>City</label>
                                @*<input class="form-control" id="lastname" name="lastname" value="" required="">*@
                                @*@Html.DropDownListFor(m => m.AgentId, new SelectList(Model.AgentDropDownViewModel, "AgentId", "AgentName"), "-- Select a Agent --", new { @class = "form-control" })*@
                                @Html.DropDownListFor(m => m.CityId, new SelectList(Model.CityDropDownList, "CityId", "CityName"),"-- Select City --", new { @class = "form-control",tabindex = 2 })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Address</label>
                                @*<input class="form-control" id="username" name="username" value="" required="">*@
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Hotel Address",tabindex=3 })
                            </div>

                            <div class="form-group">
                                <label>Discraption</label>
                                @*<textarea class="form-control discraption"></textarea>*@
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Enter Description here", tabindex = 5 })
                            </div>

                            <div class="form-group">
                                <label for="sel1">Type:</label>
                                @*<select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>*@
                                @*@Html.EnumDropDownListFor(m => m.Stars, "-- Select Star --", new { @class = "form-control" })*@
                                @Html.DropDownListFor(m => m.StarId, Model.HotelStarList," -- Select Hotel Star --",new {@class="form-control", tabindex = 7 })
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Phone</label>
                                @*<input class="form-control" id="email" name="email" type="email" value="" required="">*@
                                @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control", @type = "number", @placeholder = "Enter LandLine #",tabindex=4 })
                            </div>
                            <div class="form-group">
                                <label>Mobile</label>
                                @*<input class="form-control" id="email" name="email" type="email" value="" required="">*@
                                @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control", @type = "number", @placeholder = "Enter Mobile#",tabindex=6 })
                            </div>
                            <div class="form-group">
                                <label>Fax</label>
                                @*<input class="form-control" id="email" name="email" type="email" value="" required="">*@
                                @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @type = "number", @placeholder = "Enter Fax#",tabindex=8 })
                            </div>
                            <div class="form-group">
                                <label>Distance From Haram</label>
                                @*<input class="form-control" id="email" name="email" type="number" value="" required="">*@
                                @Html.TextBoxFor(m => m.DistanceFromHaram, new { @class = "form-control", @type = "number", @placeholder = "Enter Distance from Haram",tabindex=9 })
                            </div>
                            <div class="form-group">
                                <label>Distance From Main Road</label>
                                @*<input class="form-control" id="email" name="email" type="number" value="" required="">*@
                                @Html.TextBoxFor(m => m.DistanceFromMainRoad, new { @class = "form-control", @type = "number", @placeholder = "Enter Distance From MainRoad",tabindex=10 })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.IsMeal, new { @checked = false,tabindex=11 })
                                        Meal Offered
                                    </label>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.IsVerified, new { @checked = false ,tabindex=12})
                                    Verified
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Add Images</label>
                                <input type="file" name="FileList" class="fileEdit" multiple>
                                @*@Html.TextBoxFor(m => m.ProjectInformation, null, new { type = "file", @class = "file ", @multiple = true })*@
                               @* @Html.TextBox("ProjectInformation", null, new { type = "file", @class = "file ", @multiple=true })*@

                                @*<input type="file" name="FileList" class="file" multiple/>*@
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control input-lg" disabled placeholder="Upload Image">
                                    <span class="input-group-btn">
                                        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="map" class="col-sm-12 map" style="height: 250px">
                            MAp Here
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 pull-right text-right">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                </div>
            }
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='http://maps.googleapis.com/maps/api/js?v=3&amp;libraries=places&key=AIzaSyBkL7CBmoLDDSwCmd8lzT9IWuDdx4UtRhA'></script>
<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/AdminCssJs/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="/AdminCssJs/js/jquery.dataTables.js"></script>
<script src="/AdminCssJs/js/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>
<!-- DATE PICKER SCRIPTS -->
<script src="/AdminCssJs/js/bootstrap-datepicker.js"></script>
<script>
    var site_url = 'http://travelx.pk/';
    $('.datepicker').datepicker({ format: 'yyyy-mm-dd', autoclose: true });
</script>
<!-- Custom Js -->
<script src="/AdminCssJs/js/custom-scripts.js"></script>

<script type="text/javascript">

    $(document)
        .ready(function () {
            Intialize();
        });
    function Intialize() {
        //var map; var infowindow;
        var latlng = new google.maps.LatLng(21.422510, 39.814838);
        var myOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                position: google.maps.ControlPosition.TOP_RIGHT,
                mapTypeIds: [google.maps.MapTypeId.ROADMAP,
                    google.maps.MapTypeId.TERRAIN,
                    google.maps.MapTypeId.HYBRID,
                    google.maps.MapTypeId.SATELLITE]
            },
            navigationControl: true,
            navigationControlOptions:
            {
                style: google.maps.NavigationControlStyle.ZOOM_PAN
            },
            scaleControl: true,
            disableDoubleClickZoom: true,
            draggable: true,
            streetViewControl: true,
            draggableCursor: 'move'
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);

        //var marker = new google.maps.Marker({
        //    position: new google.maps.LatLng(21.422510, 39.814838),
        //    map: map,
        //    Title: 'Mecca'
        //});
        //var infowindow = new google.maps.InfoWindow({
        //    content: 'Location info:<br/>Country Name:<br/>LatLng:' + latlng
        //});
        //google.maps.event.addListener(marker,
        //    'click',
        //    function() {
        //        infowindow.open(map, marker);
        //    });
        google.maps.event.addListener(map, 'click', function (event) {
            document.getElementsByName('Latitude')[0].value = event.latLng.lat();
            document.getElementsByName('Longitude')[0].value = event.latLng.lng();
            ResetMarker(event.latLng.lat(), event.latLng.lng());
            //alert(document.getElementsByName('Longitude')[0].value);
            //alert("Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng());
        });
        var ltlng = [];
        ltlng.push(new google.maps.LatLng(21.422510, 39.814838));
        ltlng.push(new google.maps.LatLng(21.468685, 39.149994));
        ltlng.push(new google.maps.LatLng(21.437273, 40.512714));

        map.setCenter(ltlng[0]);
        for (var i = 0; i < ltlng.length; i++) {
            marker = new google.maps.Marker({
                map: map,
                position: ltlng[i]
            });
            (function (i, marker) {
                //google.maps.event.addListener(marker,
                //    'click',
                //    function (event){
                //        if (!infowindow) {
                //            alert("Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng());
                //            infowindow = new google.amps.InfoWindow();
                //        }
                //        infowindow.setContent("Message" + i);
                //        infowindow.open(map, marker);
                //    });
            })(i, marker);
            var bikeLayer = new google.maps.BicyclingLayer();
            bikeLayer.setMap(map);
        }

        //alert('Hello Farhat Ullah');
    }
    function ResetMarker(lat, long) {
        //var map; var infowindow;
        var latlng = new google.maps.LatLng(lat, long);
        var myOptions = {
            zoom: 14,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                position: google.maps.ControlPosition.TOP_RIGHT,
                mapTypeIds: [google.maps.MapTypeId.ROADMAP,
                    google.maps.MapTypeId.TERRAIN,
                    google.maps.MapTypeId.HYBRID,
                    google.maps.MapTypeId.SATELLITE]
            },
            navigationControl: true,
            navigationControlOptions:
            {
                style: google.maps.NavigationControlStyle.ZOOM_PAN
            },
            scaleControl: true,
            disableDoubleClickZoom: true,
            draggable: true,
            streetViewControl: true,
            draggableCursor: 'move'
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);
        google.maps.event.addListener(map, 'click', function (event) {
            document.getElementsByName('Latitude')[0].value = event.latLng.lat();
            document.getElementsByName('Longitude')[0].value = event.latLng.lng();
            //alert(document.getElementsByName('Longitude')[0].value);
            //alert("Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng());
            ResetMarker(event.latLng.lat(), event.latLng.lng());
        });
        var ltlng = [];
        ltlng.push(new google.maps.LatLng(lat, long));

        map.setCenter(ltlng[0]);
        for (var i = 0; i < ltlng.length; i++) {
            marker = new google.maps.Marker({
                map: map,
                position: ltlng[0]
            });
            (function (i, marker) {
            })(i, marker);
            var bikeLayer = new google.maps.BicyclingLayer();
            bikeLayer.setMap(map);
        }
    }
</script>