﻿@model TravelXWeb.ViewModel.HotelIndexViewModelList

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Manage Hotel <small>Add Hotel</small>
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Hotels
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create", "Hotel")'">Add New</button>
                        <hr>
                    </div>
                </div>
                <!-- ---------------- -->
                @foreach (var hotel in Model.HotelIndexViewList)
                {
                    <div cass="row" onclick="window.location.href='@Url.Action("Edit","Hotel",new {id=@hotel.HotelId})'">
                        <div class="hotel_info">
                            <div class="col-sm-6 col-md-4">
                                @*<img src="img/star.jpg" alt="" class="img-rounded img-responsive" />*@
                                @*<img src="img/star.jpg" alt="" class="img-rounded img-responsive" />*@
                                @*<img src="@Url.Content(@hotel.HotelImage)" class="img-rounded img-responsive" alt="Image Not Found"/>*@
                                <img src="@Url.Content("~/img/HotelImages/" + System.IO.Path.GetFileName(hotel.HotelImage))" alt="Image Not Found" />
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4>
                                    @hotel.HotelName
                                </h4>
                                <small>
                                    <cite title="Hotel Address">
                                        @hotel.HotelAdress <i class="glyphicon glyphicon-map-marker">
                                        </i>
                                    </cite>
                                </small>
                                <div>
                                    Stars:
                                    @for(var star=0;star< @hotel.HotelStar;star++)
                                    {
                                        <span class="rating-input">
                                            <span data-value="0" class="glyphicon glyphicon-star"></span>                                            
                                        </span>
                                    }
                                </div>
                                <!-- Split button -->
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>

<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/AdminCssJs/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="/AdminCssJs/js/jquery.dataTables.js"></script>
<script src="/AdminCssJs/js/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>
<!-- DATE PICKER SCRIPTS -->
<script src="/AdminCssJs/js/bootstrap-datepicker.js"></script>
<script>
    //var site_url = 'http://travelx.pk/';
    $('.datepicker').datepicker({ format: 'yyyy-mm-dd', autoclose: true });
</script>
<!-- Custom Js -->
<script src="/AdminCssJs/js/custom-scripts.js"></script>
