﻿

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <body class="body-wrapper ">
        <div class="main-wrapper">
            <!-- HEADER -->
            <!-- PAGE TITLE -->
            <section class="pageTitle" style="background-image:url(../img/ContactUs/page-title-bg5.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="titleTable">
                                <div class="titleTableInner">
                                    <div class="pageTitleInfo">
                                        <h1>contact us</h1>
                                        <div class="under-border"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- WHITE SECTION-->
            <section class="mainContentSection">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5 col-lg-4 col-xs-12">
                            <div class="contactInfo">
                                <h2>get in touch</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">address</h4>
                                        <p>16/14 Babor Road, Mohammad pur <br>Dhaka, Bangladeshincididunt</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Phone number</h4>
                                        <p>+55 654 545 122 <br>+55 654 545 123</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">email us</h4>
                                        <p><a href="mailTo:info@example.com">info@example.com</a> <br><a href="mailTo:info@startravelbangladesh.com">info@startravelbangladesh.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-7 col-xs-12 col-lg-8">
                            <div class="contactForm">
                                <form action="" method="POST" role="form" class="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="" placeholder="Your Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="" placeholder="Your Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="" placeholder="Your Phone">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="" placeholder="Your Message"></textarea>
                                    </div>
                                    <button type="submit" class="btn buttonCustomPrimary">send message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- MAP AREA SECTION -->
            <section class="mapArea">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d467453.3147356961!2d90.37215279999992!3d23.748127500000013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1452772758249" height="555" frameborder="0" style="border:0" allowfullscreen></iframe>
            </section>
        </div>
        <!-- Signup Modal -->
        <div class="modal fade signupLoging" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modalContentCustom">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create your account</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="">
                            <div class="form-group">
                                <input type="text" class="form-control bg-ash" id="exampleInputEmail1" placeholder="Full Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control bg-ash" id="exampleInputPassword1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control bg-ash" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> I agree to the terms of use and privacy.
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                        <div class="or">
                            or
                        </div>
                        <a class="btn btn-default btnSocial" href="#">Log in with facebook</a>
                    </div>
                    <div class="modal-footer">
                        <div class="dontHaveAccount">
                            <p>Don’t have an Account?<a href=""> Sign up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Modal -->
        <div class="modal fade signupLoging" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modalContentCustom">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Log in to your account</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="">
                            <div class="form-group">
                                <input type="email" class="form-control bg-ash" id="exampleInputPassword1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control bg-ash" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                                <a class="forgotPass clerfix" href="">Fogot Password?</a>
                            </div>
                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                        <div class="or">
                            or
                        </div>
                        <a class="btn btn-default btnSocial" href="#">Log in with facebook</a>
                    </div>
                    <div class="modal-footer">
                        <div class="dontHaveAccount">
                            <p>Don’t have an Account?<a href=""> Sign up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
