﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel : TravelX</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" type="/image/png" href="/img/favicon.png" />
    <!-- Bootstrap Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- TABLE STYLES-->
    <link href="~/AdminCssJs/css/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- DATEPICKER STYLES-->
    <link rel="stylesheet" type="text/css" href="~/AdminCssJs/css/datepicker/datepicker.css">
    <!-- Custom Styles-->
    <link href="~/AdminCssJs/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="container" id="wrapper">
        <div class="row main-row" style="">
            <nav class="navbar navbar-default top-navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href='@Url.Action("Index", "User")'>TravelX</a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li id="usprofile" class="dropdown applydropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href='@Url.Action("UserProfile", "User")'><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li>
                                <a href='@Url.Action("UserSetting", "User")'><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href='@Url.Action("LogOff", "Account")'><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
            </nav>
        </div>
        <!--/. NAV TOP -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a class="active-menu" href='@Url.Action("DashBoardSummery","User")'><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a class="" href='@Url.Action("Index","Hotel")'><i class="fa fa-qrcode"></i> Manage Hotels</a>
                    </li>
                    <li>
                        <a class="" href='@Url.Action("Index","Room")'><i class="fa fa-fw fa-file"></i> Manage Hotel Rooms </a>
                    </li>
                    <li>
                        <a class="" href='@Url.Action("Index","User")'><i class="fa fa-table"></i> Manage Users</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE -->
        <div id="page-wrapper">
            <div id="page-inner">
                @RenderBody()
                <!-- /. ROW -->
                <footer>
                    <p>All right reserved.</p>
                </footer>
            </div>
            <!-- /. PAGE INNER -->
        </div>
        <!-- /. PAGE WRAPPER -->
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
  
<Script>

        $(document).ready(function (){
            $('#usprofile').click(function () {
            $(this).closest('li').addClass('open');
        });
    });

</Script>

