﻿
@using TravelXWeb.ViewModel
@model IEnumerable<TravelXWeb.ViewModel.HotelImageListForEdit>

<div class="modal fade" id="hotelImagesMpdal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header orange-modal-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">
                    <span class="glyphicon glyphicon-picture">&nbsp;</span>Hotel Images
                </h2>
            </div>
            <div class="modal-body">
                @foreach (var item in Model)
                {
                    <div class="form-group">
                        <img style="width: 200px;height: 200px" src="@Url.Content("~/img/HotelImages/" + System.IO.Path.GetFileName(item.ImagePath))" alt="Image Not Found" />
                        @*<div id="HotelImageId1" data-id="@item.HotelImageId" class="custom">@item.ImagePath</div>*@
                        <span class="remove_img_add" id="HotelImageId" data-myval="@item.HotelImageId">x</span>
                    </div>

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(".remove_img_add")
        .click(function () {
            var element = $(this).prev();
            var hotelImageId = $('#HotelImageId').data('myval');
            //alert(hotelImageId);
            element.hide();
            $(this).hide();
            $.ajax({
                url: '/Hotel/HotelImageDelete',
                type: "POST",
                datatype: "JSON",
                async: false,
                data: { hotelImageId: hotelImageId },
                success: function (response) {
                    if (response === true)
                        alert('Image deleted successfully');
                    else {
                        alert('There is error.Please contact to system admin');
                    }
                }

            });

        });
</script>


