﻿
 <!-- HEADER -->
<header>
    <nav class="navbar navbar-default navbar-main navbar-fixed-top  lightHeader  " role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://travelx.pk/"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown singleDrop active ">
                        <a href="http://travelx.pk/">Home</a>
                    </li>
                    <li class="dropdown megaDropMenu ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">packages</a>
                        <!--
                                        <ul class="row dropdown-menu">
                                          <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                              <li>Tour Packages Grid View</li>
                                              <li class=""><a href="#">Packages Sidebar Left</a></li>
                                              <li class=""><a href="#">Packages Sidebar Right</a></li>
                                              <li class=""><a href="#">Packages 3 Columns</a></li>
                                            </ul>
                                          </li>
                                          <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                              <li>Tour Packages List View</li>
                                              <li class=""><a href="#">Packages Sidebar Left</a></li>
                                              <li class=""><a href="#">Packages Sidebar Right</a></li>
                                              <li class=""><a href="#">Packages List</a></li>
                                            </ul>
                                          </li>
                                          <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                              <li>Single Package</li>
                                              <li class=""><a href="#">Single Hotel Sidebar Left</a></li>
                                              <li class=""><a href="#">Single Hotel Sidebar Right</a></li>
                                              <li class=""><a href="#">Single Hotel Fullwidth</a></li>
                                            </ul>
                                          </li>
                                          <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                              <li>Booking Steps</li>
                                              <li class=""><a href="#">Step 1 - Personal Info</a></li>
                                              <li class=""><a href="#">Step 2 - Payment Info</a></li>
                                              <li class=""><a href="#">Step 3 - Confirmation</a></li>
                                            </ul>
                                          </li>
                                        </ul>
                                      </li>
                        -->
                    <li class="dropdown singleDrop ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ziaraat</a>
                        <!-- <ul class="dropdown-menu dropdown-menu-right">
                                          <li class=""><a href="#">About Us</a></li>
                                          <li class=""><a href="#">Contact Us</a></li>
                                          <li class="dropdown dropdown-submenu ">
                                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Gallery <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                              <li class=""><a href="#">Gallery Grid</a></li>
                                              <li class=""><a href="#">Gallery Masonry</a></li>
                                              <li class=""><a href="#">Photo Slider</a></li>
                                            </ul>
                                          </li>
                        -->
                        <!-- Destinations -->
                        <!--
                                            <li class="dropdown dropdown-submenu ">
                                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Destination Cities <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-left">
                                              <li class=""><a href="#">Destination Cities</a></li>
                                              <li class=""><a href="#">Single Destination</a></li>
                                            </ul>
                                          </li>
                                          <li><a href="#">404 Not Found</a></li>
                                          <li><a href="#">Coming Soon</a></li>
                                        </ul>
                                      </li>
                        -->
                    <li class="dropdown singleDrop ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
                        <!-- <ul class="dropdown-menu dropdown-menu-right">
                                          <li class="dropdown dropdown-submenu">
                                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Blog Grid View <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu">
                                              <li class=""><a href="#">Blog Grid 3 Col</a></li>
                                              <li class=""><a href="#">Blog Grid 2 Col</a></li>
                                            </ul>
                                          </li>
                                          <li class="dropdown dropdown-submenu">
                                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Blog List View <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu">
                                              <li class=""><a href="#">Blog List Right Sidebar</a></li>
                                              <li class=""><a href="#">blog-list-left-sidebar.html</a></li>
                                              <li class=""><a href="#">Blog List Fullwidth</a></li>
                                            </ul>
                                          </li>
                                          <li class="dropdown dropdown-submenu">
                                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Single Blog Post <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu">
                                              <li class=""><a href="#">Right Sidebar</a></li>
                                              <li class=""><a href="#">Left Sidebar</a></li>
                                            </ul>
                                          </li>
                                        </ul>
                                      </li>
                        -->
                    <li class="dropdown singleDrop ">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact US</a>
                        <!-- <ul class="dropdown-menu dropdown-menu-right">
                                          <li class=""><a href="#">Dashboard</a></li>
                                          <li class=""><a href="#">Booking</a></li>
                                          <li class=""><a href="#">Profile</a></li>
                                          <li class=""><a href="#">Settings</a></li>
                                          <li class=""><a href="" data-toggle="modal" data-target="#signup">Signup</a></li>
                                          <li class=""><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                                        </ul>
                                      </li>

                                      <li class="dropdown singleDrop ">
                                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shortcodes</a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                          <li class=""><a href="#">Accordions &amp; Toggles</a></li>
                                          <li class=""><a href="#">Tabs &amp; Dropdowns</a></li>
                                          <li class=""><a href="#">Pricing Tables</a></li>
                                        </ul>
                                      </li>
                        -->
                    <li class="dropdown searchBox">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="searchIcon"><i class="fa fa-search" aria-hidden="true"></i></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <span class="input-group">
                                    <input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2">Search</span>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
