﻿<!DOCTYPE html>
<html>
<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - TravelX</title>
    <!-- PLUGINS CSS STYLE -->
    <link href="~/Content/PluginBootstrap/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link href="~/Content/PluginBootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/PluginBootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/PluginBootstrap/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/Content/PluginBootstrap/selectbox/select_option1.css">
    <link rel="stylesheet" type="text/css" href="~/Content/PluginBootstrap/datepicker/datepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/PluginBootstrap/isotope/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="~/Content/PluginBootstrap/isotope/isotope.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Content/PluginBootstrap/jquery-ui/jquery-ui.js"></script>
    <script src="~/Content/PluginBootstrap/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/PluginBootstrap/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/PluginBootstrap/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/PluginBootstrap/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="~/Content/PluginBootstrap/datepicker/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="~/Content/PluginBootstrap/counter-up/jquery.counterup.min.js"></script>
    <script src="~/Content/PluginBootstrap/isotope/isotope.min.js"></script>
    <script src="~/Content/PluginBootstrap/isotope/jquery.fancybox.pack.js"></script>
    <script src="~/Content/PluginBootstrap/isotope/isotope-triger.js"></script>
    <script src="~/Content/PluginBootstrap/countdown/jquery.syotimer.js"></script>
    <script src="~/SiteJs/custom.js"></script>


    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700' rel='stylesheet' type='text/css'>
    <!-- CUSTOM CSS -->
    @*<link href="css/style.css" rel="stylesheet">*@
    <link href="~/Content/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/colors/default.css" id="option_color">*@
    <link href="~/Content/colors/default.css" rel="stylesheet" />
    <!-- FAVICON -->
    <link rel="shortcut icon" type="/image/png" href="/img/favicon.png" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @RenderSection("scripts", required: false)
</head>
<body>
   @Html.Partial("_LayoutHeader");  @*difference between rendersection and @Html.partial*@
    <div>
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>
    @Html.Partial("_LayoutFooter");
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
